body {
	font-family: 'Roboto', sans-serif;
}

nav {
	font-weight: 400;
}

header {
	background-color: rgba(0, 85, 170, 0.8);
	
}

footer {
	background-color: #0055aa;
	color: #fff;
	border-top: 1px solid #bebebe;
}

#landing {
	width: 100%;
} 

.nav-item {
	padding: .75rem;
}

.nav-item a {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff!important;
}

.f_right {
	border-left: 1px solid #fff;
}

.a_logo {
	width: 100px;
	margin-bottom: 30px;
}

a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.bottom {
	background-color: rgba( 51,119 , 187, 1);
}

footer ul {
	list-style: none;
	padding-left: 5px;
}

footer h6 {
	color: #fff;
	font-weight: 700;
	font-size: 1.25rem;
	margin-top: 10px;
}

footer p {
	font-family: 'Lato';
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
	transform: translateX(33.33%);
	transition: all 0.5s;
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
	transform: translateX(-33.33%);
	transition: all 0.5s;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
	transform: translateX(0);
	transition: all 0.5s;
}
.carousel-control-next-icon {
	color: #000;
}
.carousel-control-prev-icon {
	color: #000;
}

.carousel-inner {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#feature {
	padding: 3rem 0 3rem 0;
}

.card-body:hover {
	background-color: #f3f3f3;
	margin-top: -0.1rem;
	margin-bottom: 0.1rem;
	box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.75);
	transition: all 0.5s;
}

.card-body:hover .fas,
.card-body:hover .card-title {
	color: rgba(0, 85, 170, 1);
}

.card {
	
	margin-bottom: 1rem;
	border: none;
}

.card-title {
	height: 50px;
}

.card-text {
	height: 80px;
}

.card-body {
	height: 230px!important;
	border: 1px solid rgba(0,0,0,.125);
}

.card p {
	margin-bottom: 0;
}

.nav-item {
	text-align: center;
}

.nav-item:hover {
	background-color: #fff;
}

.nav-item:hover a {
	color: rgba(0, 85, 170, 1)!important;
}